.transparentbg {
	background-color: #fff;
	opacity: .8;
	padding: 50px;
	
}


.headercontainer
{

	height:100vh;
}



.intro {
	position:absolute;
	bottom:0px;
	width:100%;
	color: #fff;
	h1 {
      font-weight: bolder;
      font-size: 80px;
       
	}

	p{

		font-size: 22px;
		font-weight: bold;
	}
}



.misson {

	background:transparent;
}





