.headtitle

{
text-align: center;

}

.heads {


	padding: 100px;
}

.front-scholar {
background: url('/assets/img/mainpage/TA-BG.png') no-repeat center center;
background-size: cover;
height: 600px;
background-color: #074a76;

 

	
}



.help {

	background:transparent;
}



.give {

  background-color: blue;

}

.helpbg {

background-color: rgba(7,74,118,.7)

}
