/* One Five Adults scss */
.transparentbg
	 {
		color: #074a76;
        			blockquote 
	          	{
					font-size: 26px;
					line-height: 30px;
					font-weight: bold;
					color:#074a76;

							.name 
									{
		         				color: #074a76;
		         				font-size: 8px;

		         						p.read {

		         					font-size: 20px;
		         	}
				}
            }
         }


